#sante {

    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height:100px;
    border: 1px solid firebrick;
    background-color: darkorange;
}

#energy {

    position: absolute;
    top: 0;
    left:0;
    
}